<div class="card" style="width:18rem;">
  <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    b5
  </div>
</div>
<div class="bg-primary text-white text-center p-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h2 >Monthly Calendar</h2>
            </div>        
            <div>
                <%= link_to '<i class="fa fa-pencil"></i> 予定を書く'.html_safe, '/plans/new', class: "btn btn-primary text-white border-white" %>
                <%= link_to '<i class="fa fa-list"></i> 一覧を見る'.html_safe, '/plans/index', class: "btn btn-secondary" %>
                <%= link_to '<i class="fa fa-sign-out"></i> ログアウト'.html_safe, '/logout', class: "btn btn-danger" %>
            </div>
        </div>
    </div>
</div>

<div class="container">
    

    <%= month_calendar events: @plans,cell_size: 50,day_height:50,first_day: 1 do |date, events| %>
        <%= content_tag :div, date.day, class: "text-center" %>

        <% if events.any? %>
            <ul class="list-unstyled">
            <% events.each do |event| %>
                <li>
                    <%= link_to plan_path(event.id), class: "text-decoration-none" do %>
                        <%= event.title %>
                    <% end %>
                </li>
            <% end %>
            </ul>
        <% end %>
    <% end %>
</div>