<h1>投稿詳細</h1>

<% if @plan %>
  <p>
      タイトル<br>
      <%= @plan.title %>
  </p>

  <p>
      内容<br>
      <%= @plan.content %>
  </p>

  <p>
      開始時間<br>
      <%= @plan.start_time %>
  </p>
<% else %>
  <p>予定が見つかりません。</p>
<% end %>

<%= link_to '削除', plan_path(@plan), method: :delete, 
data: { turbo_method: 'delete', turbo_confirm: '削除しますか' } %>

<%= link_to "戻る", '/plans/calendar' %>
