<div class="container mx-auto mt-4" style="max-width: 600px;">
    <div class="text-left mt-4 pb-2 border-bottom border-primary px-3" style="border-width: 10px;">
        <h1>投稿詳細</h1>
    </div>
    <% if @plan %>
        <div class="mt-3">
            <p>
                <strong>タイトル</strong><br>
                <%= @plan.title %>
            </p>
            <p>
                <strong>内容</strong><br>
                <%= @plan.content %>
            </p>
            <p>
                <strong>開始時間</strong><br>
                <%= @plan.start_time %>
            </p>
        </div>
        <div class="text-center mt-3">
       <%= button_to '削除', plan_path(@plan), method: :delete, data: { turbo_confirm: '削除しますか' }, class: "btn btn-danger mt-3 mx-3" %>
    <% else %>
        <p>予定が見つかりません。</p>
    <% end %>
    <%= link_to "編集", edit_plan_path(@plan), class: "btn btn-secondary mt-3 mx-3" %>
    <%= link_to "戻る", '/plans/calendar', class: "btn btn-secondary mt-3 mx-3" %>
    
    </div>
</div>
