<!DOCTYPE html>
<html>
  <head>
    <title>BluePlan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  


  <body>
    <p><%= notice %></P>
    <p><%= alert %></P>


    
    <!-- Flash message -->
    <% if flash[:alert] %>
      <script>
        alert("<%= j flash[:alert] %>");
      </script>
    <% end %>   
    
    <%= yield %>

  </body>
</html>
